<div class="register-page">
    <div class="form" >
      <form class="register-form" *ngIf="form" class="register-form" [formGroup]="form">

        <div class="input-with-icon">
        <i class="fas fa-boxes"></i>
        <input type="text" placeholder="Nome" formControlName="name"/>
        </div>
          
        <div class="input-with-icon">
        <i class="fas fa-pencil-alt"></i>
        <input type="text" placeholder="Descrição" formControlName="description"/>
        </div>

        <div class="input-with-icon">
        <i class="fas fa-money-check-alt"></i>
        <input placeholder="Valor Total" currencyMask formControlName="totalValue"/>
        </div>

        <div class="input-with-icon">
        <i class="fas fa-money-bill-alt"></i>
        <input placeholder="Valor Unitário" currencyMask formControlName = "unityValue"/>
        </div>

        <div class="input-with-icon">
        <i class="fas fa-wallet"></i>
        <input placeholder="Saldo" currencyMask formControlName="balance"/>
        </div>

        <div class="input-with-icon">
        <i class="fas fa-bars"></i>
        <input type="text" placeholder="Categoria" formControlName="category"/>
        </div>
            
        <a>Esqueci minha senha</a>
        <button (click)="onSubmit(form.value)" type="submit">CADASTRAR</button>
        <label for="Input_RememberMe"></label>
        
        <a class="fa fa-arrow-left" aria-hidden="true" href="http://localhost:4200/login-screen">Voltar para Login</a>
        
      </form>
    </div>
  </div>