
<div class="login-page" style="background-color: #fa4616;">
  <div class="form" >
    <i class="fa fa-user-lock iconeGrande" id="iconeGrande" aria-hidden="true"> </i>
    <h5>Já sou cadastrado</h5>
    <p> Entre com seu e-mail e senha </p>
    <form class="login-form">
      <input type="text" placeholder="e-mail"/>
      <input type="password" placeholder="senha"/>
      <button>Entrar</button>
      <label for="Input_RememberMe">
      <input type="checkbox" id ="Input_RememberMe" name="Input.RememberMe"
      value="true">
      <span>Lembrar de mim?</span>
      </label>
      <p class="message">Não Registrado? <a href="http://localhost:4200/register-screen">Crie uma conta</a></p>
    </form>
  </div>
</div>

