<div class="register-page">
    <div class="form" >
      <form class="register-form">

        <div class="input-with-icon">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Nome"/>
        </div>
          
        <div class="input-with-icon">
        <i class="fas fa-pencil-alt"></i>
        <input type="text" placeholder="Descrição"/>
        </div>

        <div class="input-with-icon">
        <i class="fas fa-money-check-alt"></i>
        <input type="text" placeholder="Valor Total" dsakfko />
        </div>

        <div class="input-with-icon">
        <i class="fas fa-money-bill-alt"></i>
        <input type="text" placeholder="Valor Unitário" fskafskpo/>
        </div>

        <div class="input-with-icon">
        <i class="fas fa-wallet"></i>
        <input type="text" placeholder="Saldo" mkpdgska/>
        </div>

        <div class="input-with-icon">
        <i class="fas fa-bars"></i>
        <input type="text" placeholder="Categoria"/>
        </div>
            
        <a>Esqueci minha senha</a>
        <button>CADASTRAR</button>
        <label for="Input_RememberMe"></label>
        
        <a class="fa fa-arrow-left" aria-hidden="true" href="http://localhost:4200/login-screen">Voltar para Login</a>
        
      </form>
    </div>
  </div>