<div class="layout">
    <div class="header-info">
        <h1><strong>Master</strong>Piece</h1>
        <p>Doações // Vendas a Preços Acessíveis</p>
    </div>
    <div class="main-color-line"></div>
    <div class="content">
        <div class="container">
            <div class="texts">
                <h1>BEM VINDO A NOSSA LOJA</h1>
                <p>A MasterPiece é um projeto de doações e vendas a preços acessiveis de materiais de construção, sejam eles novos, usados ou sobras de obras de sua construção, visando a melhoria na qualidade de vida das pessoas que aceitem as doações.</p>
            </div>
        </div>
        <h2 class="title"><b></b><span>Pesquisar</span><b></b></h2>
        <div class="bg-products">
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Material Básico</h5>
                    <p class="show-on-hover">10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Acabamentos</h5>
                    <p class="show-on-hover">10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Elétrica</h5>
                    <p class="show-on-hover">10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Móveis</h5>
                    <p class="show-on-hover">10 produtos</p>
                </div>
            </div>
            <div class="card" [routerLink]="['/products-list']">
                <div class="image"></div>
                <div class="description">
                    <h5>Todos</h5>
                    <p class="show-on-hover">10 produtos</p>
                </div>
            </div>
        </div>
        <h2 class="title"><b></b><span>Produtos em Destaque</span><b></b></h2>
        <div class="bg-products">
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Material Básico</h5>
                    <p>10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Acabamentos</h5>
                    <p>10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Elétrica</h5>
                    <p>10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Móveis</h5>
                    <p>10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Todos</h5>
                    <p>10 produtos</p>
                </div>
            </div>
        </div>
        <h2 class="title"><b></b><span>Produtos Mais Vendidos</span><b></b></h2>
        <div class="bg-products">
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Material Básico</h5>
                    <p>10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Acabamentos</h5>
                    <p>10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Elétrica</h5>
                    <p>10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Móveis</h5>
                    <p>10 produtos</p>
                </div>
            </div>
            <div class="card">
                <div class="image"></div>
                <div class="description">
                    <h5>Todos</h5>
                    <p>10 produtos</p>
                </div>
            </div>
        </div>
    </div>
</div>