
<div class="login-page" style="background-color: #fa4616;">
    <div class="form" >
      <i class="fa fa-user-lock iconeGrande" id="iconeGrande" aria-hidden="true"> </i>
      <h5>Cadastre-se</h5>
      <p> Preencha os campos abaixo para criar sua conta: </p>
      
      <div class="col-xs-4">
      <form class="login-form">
        
        <div class="form-group">
        <h6> Nome </h6>
        <input type="text"/>
        </div>
        <h6> E-mail </h6>
        <input type="email"/>
        
        <h6> Telefone </h6>
        <input type="tel"/>

        <h6> Senha </h6>
        <input type="password"/>

        <h6> Repita sua Senha </h6>
        <input type="password"/>
        <button>Criar Conta</button>
      </form>
      <a href = "http://localhost:4200/login-screen">
        <i class="fas fa-user-lock" aria-hidden="true" style="color: #fa4616; margin-right: 20px;">
        </i>
        <span>Já tenho uma conta</span>
      </a>
    </div>
  </div>
  
  