
<div class="register-page">
  <div class="form" >
    <form class="register-form">
      
      <div class="input-with-icon">
        <i class="fas fa-envelope"></i>
      <input type="email" placeholder="Email"/>
      </div>

      <div class="input-with-icon">
        <i class="fas fa-user"></i>
      <input type="text" placeholder="Nome"/>
      </div>

      <div class="input-with-icon">
        <i class="fas fa-lock"></i>
      <input type="password" placeholder="Senha"/>
      </div>
      
      <div class="input-with-icon">
        <i class="fas fa-lock"></i>
      <input type="password" placeholder="Confirme sua Senha"/>
      </div>

      <a>Esqueci minha senha</a>
      <button>CADASTRAR</button>
      <label for="Input_RememberMe"></label>
      
      <a class="fa fa-arrow-left" aria-hidden="true" href="http://localhost:4200/login-screen">Voltar para Login</a>
      
    </form>
  </div>
</div>