<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Listagem de Produtos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
                <!-- list group item-->
                <li class="list-group-item">
                    <table class="table table-dark" style="width:100%">
                        <tr>
                          <th>Nome</th>
                          <th>Descrição</th>
                          <th>Categoria</th>
                          <th>Valor Total</th>
                          <th>Valor Unitário</th>
                          <th>Saldo</th>
                        </tr>
                        <tr *ngFor = "let results of itemArray">
                          <td>{{results.name}}</td>
                          <td>{{results.description}}</td>
                          <td>{{results.category}}</td>
                          <td>{{results.totalValue}}</td>
                          <td>{{results.unityValue}}</td>
                          <td>{{results.balance}}</td>
                        </tr>
                      </table>
                     <label>
                      <input type="button" class="btn btn-primary btn-lg" value="Adicionar ao Carrinho">
                     </label>
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <div class="d-flex align-items-center justify-content-between mt-1">
                            </div>
                        </div>
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item-->

        </div>
    </div>
</div>