<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Listagem de Produtos</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
                <!-- list group item-->
                <li class="list-group-item">
                    <table class="table table-dark center" style="width:100%">
                        <tr>
                          <th>Nome</th>
                          <th>Descrição</th>
                          <th>Categoria</th>
                          <th>Valor</th>
                          <th>Saldo</th>
                        </tr>
                        <tr *ngFor = "let results of itemArray">
                          <td>{{results.name}}</td>
                          <td>{{results.description}}</td>
                          <td>{{results.category}}</td>
                          <td>{{results.price | currency: "BRL" }}</td>
                          <td>{{results.balance}}</td>
                          <td> <input type="button" (click) = "addToCart(results)" class="btn btn-primary btn-lg" value="Adicionar ao Carrinho"></td>
                          <td style="width: 50px;"> <input type="button" (click) = "remove(itemArray)" class="btn btn-primary btn-lg" value="Remover do Carrinho"></td> 
                        </tr>
                        
                        
                      </table>
                </div>
            </div>