section { 
    background-color: rgb(32, 32, 36);
    thead { 
        tr { 
            th { 
                color: white;
            }
        }
    } 
    h1 { 
        color: white;
    }
    h3 { 
        color: white;
    }
    h4 { 
        color: white;
     }
     p { 
        color: white;
     }
     td { 
        color: white;
     }
}