<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">MasterPiece</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
      
     <button type="button" class ="btn btn-link" style="margin-right: 70px;">
      <i style="color: rgb(45, 45, 45);" class="fas fa-bars" aria-hidden="true">
        <span style="color: rgb(45, 45, 45); margin-right: 10px;">Categoria de Produtos</span>
      </i>
     </button>

      <div class="col-sm-3 my-1" style="margin-right: 200px;">
        <div class="input-group" >
          <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search" style="border-right: none;" >
          <div class="input-group-append">
            <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-search"></i></div>
          </div>
        </div>
      </div>

        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/login-screen']"
                >Login</a>

              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/register-screen']"
                  >Cadastro</a>
  
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
